:root {
    --header: #1b395a;
}

header {
    background-color:#1b395a;
    color: #1b395a;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.title {
    padding:15px;
    margin-left: 20px;
    background-color:#7ABBC9;
}

header ul {
    margin-left: 1500px;
    padding-top: 25px;
}

#about-me {
    background-color: transparent;
    border: none;
    color: #7ABBC9;
    font-size: 25px;
    text-decoration: underline;
}

#work {
    background-color: transparent;
    border: none;
    color: #7ABBC9;
    font-size: 25px;
    text-decoration: underline;
}

#contact {
    background-color: transparent;
    border: none;
    color: #7ABBC9;
    font-size: 25px;
    text-decoration: underline;
}

#resume {
    background-color: transparent;
    border: none;
    color: #7ABBC9;
    font-size: 25px;
    text-decoration: underline;
}

#background-image {
    width: 2390px;
    height: 500px;
    position: relative;
    
}

header div h2 {
    padding: 15px;
    background-color: #7ABBC9;
    color: #1b395a;
    text-align: center;
    position: absolute;
    left: 2005px;
    top: 480px;
}

main{
    color:#1b395a;
    background-color: #E6E7F6;
}

main section {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.leftheader {
    width: 450px;
    border-right-color: #1b395a;
    border-right-width: 5px;
    border-right-style: solid;
    font-size: 40px;
    text-align: right;
    padding-right: 10px;
}

.cards {
    width: 1500px;
    margin-left: 50px;
    margin-top: 30px;
}

main section h3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 0px;
    background-color: #7ABBC9;
    z-index:2;
    
}

main section a {
    border-style: solid;
    border-width: 4px;
    border-color: #7ABBC9;
    padding: 0px;
    position: relative;
    right: 130px;
    z-index: 1;
    margin-top: 30px;
}

#about {
    padding-bottom:50px;
    display:block;
}





