:root {
    --header: #1b395a;
}

header {
    background-color:#1b395a;
    color: #1b395a;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position:relative;
}

.title {
    padding:15px;
    margin-left: 20px;
    background-color:#7ABBC9;
    display:inline-block;
}

.top-links {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border: none;
    color: #7ABBC9;
    font-size: 25px;
    text-decoration: underline;
    display:inline-block;    
    position: absolute;
    right:15px;    
}

a {
    color:#7ABBC9;
}

ol a {
    text-decoration: none;
}
a:hover {
    font-weight: bolder;
    cursor: grab;
}

#background-image {
    width: 100%;
    height: 500px;      
}

#top-image {
    position:relative;
}

header div h2 {
    padding: 15px;
    background-color: #7ABBC9;
    color: #1b395a;
    text-align: center;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

main{
    color:#1b395a;
    background-color: #E6E7F6;
}

main section {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.leftheader {
    width: 25%;
    border-right-color: #1b395a;
    border-right-width: 5px;
    border-right-style: solid;
    font-size: 40px;
    text-align: right;
    padding-right: 10px;
    display: inline-block;
}

#top { 
    padding-bottom: 100px;
}

#about {
    display: inline-block;
    width: 70%;
    padding-left: 25px;
    padding-top: 10px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 70%;
    margin-left: 25px;
    padding-top: 25px;
}

.fun {
    display: inline-block;
    position: relative;

}
main section img {
    width: 500px;
    height: 150px;
    margin: 10px;
    border-color: #7ABBC9;
    border-style: solid;
    border-width: 4px;
    background-color:#7ABBC9;
}

#second {
    /* padding-bottom: 1000px; */
    display: inline-block;
}

.ships {
    padding: 15px;
    background-color: #7ABBC9;
    display: inline;
    position: absolute;
    bottom: 15px;
    left:10px;
}

#bigger {
    width: 1028px;
    height: 400px;
}

.list {
    display: flex;
    flex-direction: row;
    padding-top: 45px;
    color:#7ABBC9;
    font-size: 22px;
    font-weight:bolder;
    text-decoration: none;
    
}

footer {
    background-color:#1b395a;
    color:#7ABBC9;
    text-align: center;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#boat {
    font-size: 12px;
    line-height: 20px;
    font-family: calibri;
}

a:hover {
    opacity:70%;
}

@media screen and (max-width: 768px) {
    .cards {
        display: flex;
        flex: 1 1 0;
        margin: 2% auto;
    }

    #bigger {
        width: 100px;
        display: flex;
        flex: 1 1 0;
        
    }
}