

header {
    background-color:#1b395a;
    color: #1b395a;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



#biggerFont {
    font-size: 30px;
    font-weight: 50px;
    background-color: #9fa4c4;
    background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);
}

.gradients {
    height: 100px;
    width: 100px;
    background-image: linear-gradient(315deg, #ba5370 0%, #f4e2d8 74%);
}

.makeitsmall {
    width: 75%;
    height: 200px;
}

#theNavBar {
    background-color: #1b395a;
    color: white;
}

#makeTaller {
    height: 100px;
    
}






a {
    color: black;
    
}

ol a {
    text-decoration: none;
}
a:hover {
    font-weight: bolder;
    cursor: grab;
}





footer {
    text-align: center;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 2px solid black;
}

#boat {
    font-size: 12px;
    line-height: 20px;
    font-family: calibri;
}

a:hover {
    opacity:70%;
}

#aboutMe, #workPage, #contactPage, #theResume, #myName {
    border: none;
    color: white;
}

#aboutMe, #workPage, #contactPage, #theResume {
    font-size: 25px;
}

#myName {
    font-size: 50px;;
}

.contact {
    border: 2px solid black;
    padding: 15px 20px 15px 20px;
    text-align: center;
    display: inline-block;
    margin-left: 25%;
    margin-top: 100px;
}

#stickfigure  img{
    border: 2px solid black; 
    height: 500px;
    display: inline;
    margin-left: 55%;
    position: absolute;
    top: 200px
}

.theContactPage {
    margin-top: 800px;
    margin-bottom: 50px;
    z-index: 1;
    display: block;
    position: relative;
    height: 700px;
}

.theWorkPage {
    display: block;
    z-index:1;
    margin-top: 150px;
    
}

.makeitsmall {
    margin-left: 12%;
}

.sectionTitle {
    text-align: center;
    margin-bottom: 20px;
    border-top: 3px solid #7ABBC9;
    border-bottom: 3px solid #7ABBC9;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    background-color: #1b395a;
}

.aboutCards {
    margin-top: 100px;
}